<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="leaf">
    <span class="branch-space"></span>
    <a class="nav-link" [routerLink]="node.link" routerLinkActive="active">
      {{ node.nameKey ? (node.nameKey | transloco) : node.name }}
    </a>
  </mat-tree-node>
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.nameKey ? (node.nameKey | transloco) : node.name"
  >
    <button
      matIconButton
      matTreeNodeToggle
      class="twisty"
      [attr.aria-label]="
        'labels.toggleNode'
          | transloco: { name: node.nameKey ? (node.nameKey | transloco) : node.name }
      "
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    <!-- A branch that names a screen (the single-page overview) is a link as well as a twisty;
         one that is only a heading is not. -->
    @if (node.link) {
      <a class="branch nav-link" [routerLink]="node.link" routerLinkActive="active">
        {{ node.nameKey ? (node.nameKey | transloco) : node.name }}
      </a>
    } @else {
      <span class="branch">
        {{ node.nameKey ? (node.nameKey | transloco) : node.name }}
      </span>
    }
  </mat-tree-node>
</mat-tree>
