.mat-toolbar {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  font: var(--mat-sys-body-large);
}

.spacer {
  flex: 1 1 auto;
}

.user-email {
  margin-right: 8px;
  font-size: 0.875rem;
}
