<mat-toolbar class="app-toolbar">
  <button matIconButton [attr.aria-label]="'labels.toggleNavigation' | transloco">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="brand">{{ 'app.name' | transloco }}</span>
  <span class="spacer"></span>
  <app-language-switcher />
  @if (auth.user(); as user) {
    <span class="user-email" [title]="user.email">{{ user.email }}</span>
  }
  <button matIconButton routerLink="/account" [attr.aria-label]="'auth.changePassword' | transloco">
    <mat-icon>key</mat-icon>
  </button>
  <button matIconButton (click)="logout()" [attr.aria-label]="'common.signOut' | transloco">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
